<div class="schedule" >




{#  <fieldset class="do form_education form-wrapper">#}
{#    <legend>#}
{#      <span class="fieldset-legend">Дневная форма обучения</span>#}
{#    </legend>#}
{#  </fieldset>#}

{#  <fieldset class="zo form_education form-wrapper">#}
{#    <legend>#}
{#      <span class="fieldset-legend">Заочная форма обучения</span>#}
{#    </legend>#}
{#  </fieldset>#}

{#  <fieldset class="vo form_education form-wrapper">#}
{#    <legend>#}
{#      <span class="fieldset-legend">Вечерняя форма обучения</span>#}
{#    </legend>#}
{#  </fieldset>#}

</div>
